[submodule "test-contractc/lib/forge-std"]
	path = test-contractc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test-contract/lib/forge-std"]
	path = test-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test-usdc/lib/forge-std"]
	path = test-usdc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
